@model IEnumerable<SmartBulaSite.Models.Usuario>

@{
    ViewData["Title"] = "Listar";
}

<p>@TempData["json"]</p>

<h1>Listar</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.Codigo }) |
                    @Html.ActionLink("Deletar", "Excluir", new { id = item.Codigo })
                </td>
            </tr>
        }
    </tbody>
</table>